---
layout: default
---
{% include header.html %}
<!-- / .banner -->
 <section class="container content">
        <div class="columns">
            <div class="column two-thirds" >
                <article class="article-content markdown-body">
                    {{ content }}
                </article>
                <div class="share">
                    {% include sns-share.html %}
                </div>
                <div class="comment">
                    {% include comments.html %}
                </div>
            </div>
            <div class="column one-third">
                {% include sidebar-search.html %}
                {% include sidebar-qrcode.html %}
                {% include sidebar-popular-repo.html %}
            </div>
        </div>
    </section>
    <!-- /section.content -->
